{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'GeneratorApp/main.css' %}">
    <script src="{% static 'GeneratorApp/main.js' %}" defer></script>
    {% block staticfiles %}{% endblock %}
    <title>ESTELA Isomorphic Problem Bank</title>
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']]
            }
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <div>
        <header>
            <div class="container">
                <div class="header-brand">
                    <img class="header-logo" src="{% static 'GeneratorApp/images/shared/TheTab_KGrgb_72ppi.png' %}" alt="UCF logo">
                    <div class="header-text">
                        <h1>ESTELA Isomorphic Problem Bank</h1>
                        <p></p>
                    </div>
                </div>
            </div>
        </header>
        <nav>
            <div class="container">
                <a href="{% url 'problems' %}">Courses</a>
            </div>
        </nav>
    </div>

    <div>{% block content%}{% endblock %}</div>

    <footer>
        <div class="container">
            <p>&copy; 2026 Physics Exam Generator. University of Central Florida | <span id="last-sync-footer">Last Sync: Loading...</span></p>
        </div>
    </footer>
</body>
</html>
