{% extends 'GeneratorApp/base.html' %}
{% load static versioned_static %}

{% block staticfiles %}
    <link rel="stylesheet" href="{% versioned_static 'GeneratorApp/problems.css' %}">
    <script src="{% versioned_static 'GeneratorApp/problems.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div class="container problems-class-view" id="classes">
        <h2>Courses</h2>
        <div id="problem-classes" class="problem-class-grid"></div>
    </div>

    <div id="problem-class-pages" class="problem-pages-host" style="display: none;"></div>
{% endblock %}
